@model TeacherQualityReview.Models.StudentSubject

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lí môn học sinh viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assign môn học để sinh viên đánh giá</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã sinh viên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", new SelectList(ViewBag.StudentID, "ID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Môn học", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectID", new SelectList(ViewBag.SubjectID, "ID", "SubjectName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách sinh viên môn học", "Index")
</div>
@if (Session["msgStudentSubjectErr"] != null)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <p>@Session["msgStudentSubjectErr"].</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        })
    </script>
    Session["msgStudentSubjectErr"] = null;
}