@model TeacherQualityReview.Models.Class

@{
    ViewBag.Title = "Create";
}

<h2>Quản lí lớp</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Class</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã lớp", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên lớp", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassName)
                @Html.ValidationMessageFor(model => model.ClassName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Khoa", "DepartmentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách lớp học", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
