@model TeacherQualityReview.Models.Class

@{
    ViewBag.Title = "Edit";
}

<h2>Quản lí lớp</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chỉnh sửa</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Tên lớp", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ClassName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassName, String.Empty, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mã khoa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", new SelectList(ViewBag.DepartmentID, "ID", "DepartmentName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách lớp", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
