@model TeacherQualityReview.Models.Department

@{
    ViewBag.Title = "Create";
}

<h2>Quản lí khoa</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tạo mới</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã khoa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID, String.Empty, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên khoa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentName, String.Empty, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách khoa", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
