@model TeacherQualityReview.Models.Subgroup

@{
    ViewBag.Title = "Create";
}

<h2>Quản lí bộ môn</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tạo mới</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã bộ môn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên bộ môn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SubgroupName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubgroupName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Khoa", "DepartmentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", new SelectList(ViewBag.DepartmentID, "ID", "DepartmentName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách bộ môn", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
