@model TeacherQualityReview.Models.Subject

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subject</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã môn học", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên môn học", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SubjectName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Khoa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", new SelectList(ViewBag.DepartmentID, "ID", "DepartmentName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
