@model IEnumerable<TeacherQualityReview.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lí môn học</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
           Tên giảng viên
        </th>
        <th>
            Tên môn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
