
@{
    ViewBag.Title = "MonHoc";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h4>Đánh giá chất lượng giảng dạy của giáo viên @Session["tenGV"] cho môn học @Url.RequestContext.RouteData.Values["id"]</h4>

<form>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Trả lời
            </th>
        </tr>
        @{var i = 0;}
        @foreach (var item in ViewBag.Reviews)
        {

            <tr>
                <td>
                    @(i+1)
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @{var j = 0;}
                    @foreach (var item2 in item.Status.Content.Split(new char[] { ',' }))
                    {
                        var temp = "";
                        if (Int32.Parse(item.Status.Point.Split(new char[] { ',' })[j]) == ViewBag.Selection[i])
                        {
                            temp = "checked";
                        }
                        <input type="radio" @temp name="@item.ID" value="@item.Status.Point.Split(new char[] { ',' })[j]" />@item2
                        j++;
                    }
                </td>
            </tr>
                    i++;
        }

    </table>
    <input type="submit" class="btn btn-primary btnComplete" value="Hoàn thành đánh giá" />
</form>
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>

        $("form").submit(function (event) {
            console.log($(this).serializeArray());

            event.preventDefault();
            console.log($('.subject').val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("Answer", "DanhGia")',
                data: { SubjectID:'@Url.RequestContext.RouteData.Values["id"]',
                    Results: $(this).serializeArray()
                },
                datatype: "json",  // refer notes below
                success: function (data) {
                    $('#myModal').modal('show');
                }
            });
        });
</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p> Cảm ơn bạn đã đánh giá.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>