@model IEnumerable<TeacherQualityReview.Models.ReviewSentence>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lí đánh giá</h2>

<p>
    @Html.ActionLink("Tạo đánh gía", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status.Point)
        </th>
        <th>
            Tên môn
        </th>
        <th>
           Nội dung đánh giá
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
